<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Produto</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div th:fragment="content">
            <div ng-controller="ProdutoController">
                <table border="1">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Data de Cadastro</th>
                            <th colspan="2">Ação desejada</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="produto in listarProduto.content">
                            <td>{{produto.nome}}</td>
                            <td>{{produto.preco}}</td>
                            <td>{{produto.quantidade}}</td>
                            <td>{{produto.dataCadastro}}</td>
                            <td><button ng-click="deletarProduto(produto)">Deletar</button></td>
                            <td><button ng-click="getProduto(produto)">Editar</button></td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <table border="1">
                    <tbody>
                        <tr>
                            <td>Nome</td>
                            <td><input type="text" ng-model="produto.nome" required="true" /></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Preço</td>
                            <td><input type="text" ng-model="produto.preco" required="true"/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Quantidade</td>
                            <td><input type="text" ng-model="produto.quantidade" required="true"/></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td><button ng-click="cadastroProduto()">Cadastrar</button></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>


            </div>


            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
            <script src="/js/app.js"></script>
        </div>
        </div>
    </body>
</html>

